FloK/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FloKWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FloKWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_cp_station" type="xs:int" />
      <xs:element minOccurs="0" name="address_number_station" type="xs:int" />
      <xs:element minOccurs="0" name="address_street_station" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addresse_city_station" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height_station" type="xs:int" />
      <xs:element minOccurs="0" name="id_station" type="xs:int" />
      <xs:element minOccurs="0" name="km_size_station" type="xs:int" />
      <xs:element minOccurs="0" name="latitude_station" type="xs:double" />
      <xs:element minOccurs="0" name="longitude_station" type="xs:double" />
      <xs:element minOccurs="0" name="name_station" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
</xs:schema>